<!-- Si hay alguna actividad seleccionada -->
<div *ngIf="activity">
  <h2 class="float-left">Activities detail</h2>
    <div class="container-uoc" [@fadeInOut]>
      <mat-card class="mat-elevation-z4">  
          <form [formGroup]="rForm">
            <!-- Name -->          
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name" readonly/>
              </mat-form-field>
            </section>
            <!-- Category -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Category</mat-label>
                  <input matInput type="text" formControlName="category" readonly/>
              </mat-form-field>
            </section>
            <!-- Description -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Description</mat-label>
                  <input matInput type="text" formControlName="description" readonly/>
              </mat-form-field>
            </section>
            <!-- Subcategory -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Subcategory</mat-label>
                  <input matInput type="text" formControlName="subcategory" readonly/>
              </mat-form-field>
            </section>
            <!-- Language -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Language</mat-label>
                  <input matInput type="text" formControlName="language" readonly/>
              </mat-form-field>
            </section>
            <!-- Date -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Date</mat-label>
                  <input matInput type="text" formControlName="date" readonly/>
              </mat-form-field>
            </section>
            <!-- Price -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Price</mat-label>
                  <input matInput type="text" formControlName="price" readonly/>
              </mat-form-field>
            </section>
            <!-- Minium capacity -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Minium capacity</mat-label>
                  <input matInput type="text" formControlName="miniumCapacity" readonly/>
              </mat-form-field>
            </section>
            <!-- Limit capacity -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>Limit capacity</mat-label>
                  <input matInput type="text" formControlName="limitCapacity" readonly/>
              </mat-form-field>
            </section>
            <!-- State -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>State</mat-label>
                  <input matInput type="text" formControlName="state" readonly/>
              </mat-form-field>
            </section>
            <!-- People registered -->
            <section>
              <mat-form-field appearence="fill">
                  <mat-label>People registered</mat-label>
                  <input matInput type="text" formControlName="peopleRegistered" readonly/>
              </mat-form-field>
            </section>
            <!-- SIGN UP BUTTON -->
            <section style="text-align: center;">
              <button mat-raised-button color="primary" type="button" *ngIf="rForm.get('myActivitySignUpVisible').value" (click)="onClickSignUP()">Sign Up</button>
            </section>
            <!-- DELETE ACTIVITY BUTTON -->
            <section style="text-align: center;">
              <button mat-raised-button color="primary" type="button" *ngIf="rForm.get('myActivityDeleteVisible').value" (click)="onClickDelete()">Delete</button>
            </section>
            <!-- SAVE FAVORITES BUTTON -->
            <section style="text-align: center;">
              <button mat-raised-button color="primary" type="button" *ngIf="rForm.get('saveFavoritesVisible').value" (click)="onClickSaveFavorites()"><i class="fas fa-heart"></i> Save Favorites</button>
            </section>
            <!-- DELETE FAVORITES BUTTON -->
            <section style="text-align: center;">
              <button mat-raised-button color="primary" type="button" *ngIf="rForm.get('deleteFavoritesVisible').value" (click)="onClickDeleteFavorites()"><i class="fas fa-heart"></i> Delete Favorites</button>
            </section>
          </form>
      </mat-card>
    </div>
</div>