
   
    <!-- UOC LOGO -->
    <!-- <a class="navbar-brand" href="#">
        <img width="130" src="assets/img/uoc_masterbrand_3linies_positiu.png" alt="UOC logo">
    </a> -->
    


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Tourist App</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a *ngIf="!loginState$.loggedIn" routerLink="/login" mat-button>Sign in</a>
      <a *ngIf="!loginState$.loggedIn" routerLink="/register" mat-button>Join now</a>
      <a *ngIf="loginState$.loggedIn" (click)="onClickHome()" mat-button>Home</a>
      <a *ngIf="userState$.user?.profile.type === 'Company'" routerLink="/activities-admin-list" mat-button>Admin</a>
      <a *ngIf="userState$.user?.profile.type === 'Tourist'" (click)="onClickFavorites()" mat-button>Favorites</a>
      <a *ngIf="userState$.user?.profile.type === 'Tourist'" (click)="onClickMyActivities()" mat-button>My activities</a>
      <a *ngIf="loginState$.loggedIn" routerLink="/profile" mat-button>Profile</a>
      <a *ngIf="loginState$.loggedIn" (click)="onClickLogout()" mat-button>Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()"  mat-list-item>Close</a>
      <a *ngIf="!loginState$.loggedIn" routerLink="/login" mat-list-item>Sign in</a>
      <a *ngIf="!loginState$.loggedIn" routerLink="/register" mat-list-item>Join now</a>
      <a *ngIf="loginState$.loggedIn" (click)="onClickHome()" mat-list-item>Home</a>
      <a *ngIf="userState$.user?.profile.type === 'Company'" routerLink="/activities-admin-list" mat-list-item>Admin</a>
      <a *ngIf="userState$.user?.profile.type === 'Tourist'" (click)="onClickFavorites()" mat-list-item>Favorites</a>
      <a *ngIf="userState$.user?.profile.type === 'Tourist'" (click)="onClickMyActivities()" mat-list-item>My activities</a>
      <a *ngIf="loginState$.loggedIn" routerLink="/profile" mat-list-item>Profile</a>
      <a *ngIf="loginState$.loggedIn" (click)="onClickLogout()" mat-list-item>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
