<div class="container-uoc" [@fadeInOut]>
    <mat-card class="mat-elevation-z4">  
        <form [formGroup]="rForm" (ngSubmit)="submit()">
            <!-- Level -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select Type</mat-label>
                    <mat-select (selectionChange)="onChangeTypeValue()" formControlName="type">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let type of eEducationTypes | keyvalue" [value]="type.value">{{type.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('type').hasError('required')">Type is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Level -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select Level</mat-label>
                    <mat-select formControlName="level">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let level of eLevelTypes | keyvalue" [value]="level.value">{{level.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('level').hasError('required')">Level is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Name -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" required placeholder="Name"/>
                    <mat-error *ngIf="(rForm.get('name').hasError('minlength') || rForm.get('name').hasError('maxlength')) && !rForm.get('name').hasError('required')">Name must be greater than 3 characters and less than 55 characters</mat-error>
                    <mat-error *ngIf="rForm.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- University -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>University</mat-label>
                    <input matInput type="text" formControlName="university" required placeholder="University"/>
                    <mat-error *ngIf="(rForm.get('university').hasError('minlength') || rForm.get('university').hasError('maxlength')) && !rForm.getError('name').hasError('required')">University must be greater than 3 characters and less than 55 characters</mat-error>
                    <mat-error *ngIf="rForm.get('university').hasError('required')">University is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Finish date -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Finish date</mat-label>
                    <input matInput type="text" formControlName="date" placeholder="dd/mm/yyyy"/>
                    <mat-error *ngIf="rForm.get('date').hasError('errorFormatDate')">Invalid date</mat-error>
                </mat-form-field>
            </section>
            <section style="text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">Save</button>
            </section>
        </form>
    </mat-card>
</div>
