<div class="container-uoc" [@fadeInOut]>
    <mat-card class="mat-elevation-z4">  
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <h5 class="float-left">PROFILE</h5>
            <!-- Si perfil de usuario company -->
            <div *ngIf="companyProfile">
            <!-- Company name -->  
                <section>
                    <mat-form-field appearence="fill">
                        <mat-label>Enter your company name</mat-label>
                        <input matInput type="text" [formControl]="companyName" required placeholder="Company name"/>
                        <mat-error *ngIf="(companyName.hasError('minlength') || companyName.hasError('maxlength')) && !companyName.hasError('required')">Company name must be greater than 3 characters and less than 55 characters</mat-error>
                        <mat-error *ngIf="companyName.hasError('required')">Compnay name is <strong>required</strong></mat-error>
                    </mat-form-field>
                </section>
                <!-- Company description -->
                <section>
                    <mat-form-field appearence="fill">
                        <mat-label>Enter company description</mat-label>
                        <input matInput type="text" [formControl]="companyDescription" placeholder="Company description"/>
                    </mat-form-field>
                </section>
                <!-- CIF -->
                <section>
                    <mat-form-field appearence="fill">
                        <mat-label>Enter CIF</mat-label>
                        <input matInput type="text" [formControl]="cif" placeholder="CIF"/>
                    </mat-form-field>
                </section>
            </div>
            <!-- User name --> 
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Enter your name</mat-label>
                    <input matInput type="text" [formControl]="name" required placeholder="User name"/>
                    <mat-error *ngIf="(profileForm.get('name').hasError('minlength') || profileForm.get('name').hasError('maxlength')) && !profileForm.get('name').hasError('required') && !profileForm.get('name').hasError('pattern')">User name must be greater than 3 characters and less than 55 characters</mat-error>
                    <mat-error *ngIf="profileForm.get('name').hasError('pattern') && !profileForm.get('name').hasError('required')">Please enter a valid name</mat-error>
                    <mat-error *ngIf="profileForm.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Surname -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Enter your surname</mat-label>
                    <input matInput type="text" [formControl]="surname" placeholder="User surname"/>
                    <mat-error *ngIf="(profileForm.get('surname').hasError('minlength') || profileForm.get('surname').hasError('maxlength')) && !profileForm.get('surname').hasError('pattern')">User surname must be greater than 3 characters and less than 55 characters</mat-error>
                    <mat-error *ngIf="profileForm.get('surname').hasError('pattern')">Please enter a valid surname</mat-error>
                </mat-form-field>
            </section>
            <!-- Birth date-->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Enter your birth date</mat-label>
                    <input matInput type="text" [formControl]="birthDate" placeholder="User birth date"/>
                    <mat-error *ngIf="profileForm.get('birthDate').hasError('errorFormatDate')">Invalid date</mat-error>
                </mat-form-field>
            </section>
            <!-- Phone -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Enter phone number</mat-label>
                    <input matInput type="number" [formControl]="phone" placeholder="Phone number"/>
                </mat-form-field>
            </section>
            <!-- Nacionality -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select nationality</mat-label>
                    <select matNativeControl [formControl]="nationality">
                      <option value="" selected></option>
                      <option *ngFor="let nationality of eUserNationalities | keyvalue" [ngValue]="nationality.value">{{nationality.value}}</option>
                    </select>
                    <!-- Check NIF -->
                  </mat-form-field>
            </section>
            <!-- NIF -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Enter NIF</mat-label>
                    <input matInput type="text" [formControl]="nif" placeholder="NIF"/>
                </mat-form-field>
            </section>
            <mat-error *ngIf="profileForm.hasError('errorNIF')">Wrong NIF</mat-error>
            <!-- About me -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>About me</mat-label>
                    <textarea matInput [formControl]="aboutMe" placeholder="About me"></textarea>
                </mat-form-field>
            </section>
            <!-- UPDATE BUTTON -->
            <section style="text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Update profile information</button>
            </section>
        </form>
    </mat-card>
</div>
<div class="container">
    <form class="text-center border border-light p-5"> 
        <br>
        <h5 class="float-left">EDUCATION</h5>
        <br>
        <hr style="border-top: 1px solid blue;"/>
        <ul class="list-group">
            <table class="table table-bordered">
              <thead>
                <tr style="background-color:blue;color: #fff;">
                    <th>Type</th>
                    <th>Level</th>
                    <th>Name</th>
                    <th>University</th>
                    <th>Finish date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let education of user.educations">
                    <th>{{ education.type }}</th>
                    <th>{{ education.level }}</th>
                    <td>{{ education.name }}</td>
                    <td>{{ education.university }}</td>
                    <td>{{ education.finish }}</td>
                    <td>
                        <button class="btn btn-outline-info" [routerLink]="['/profile-education', education.uid]">Edit</button>
                        <button class="btn btn-outline-danger" (click)="onClickDeleteEducation(education.uid)">Delete</button>
                    </td>                    
                </tr>
            </tbody>            
            </table>            
            <button class="btn btn-outline-primary float-left" [routerLink]="['/profile-education']">Add</button>
          </ul>          
    </form>
    <form class="text-center border border-light p-5"> 
        <br>
        <h5 class="float-left">LANGUAGES</h5>
        <br>
        <hr style="border-top: 1px solid blue;"/>
        <ul class="list-group">
            <table class="table table-bordered">
              <thead>
                <tr style="background-color:blue;color: #fff;">
                    <th>Level</th>
                    <th>Language</th>
                    <th>Finish date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let language of user.languages">
                    <th>{{ language.level }}</th>
                    <td>{{ language.language }}</td>
                    <td>{{ language.finish }}</td>
                    <td>
                        <button class="btn btn-outline-info" [routerLink]="['/profile-language', language.uid]">Edit</button>
                        <button class="btn btn-outline-danger" (click)="onClickDeleteLanguage(language.uid)">Delete</button>
                    </td>                    
                </tr>
            </tbody>            
            </table>            
            <button class="btn btn-outline-primary float-left" [routerLink]="['/profile-language']">Add</button>
          </ul>          
    </form> 
</div>
        
