<div class="container-uoc" [@fadeInOut]>
    <h2>Activity form</h2>
    <mat-card class="mat-elevation-z4">  
        <form [formGroup]="rForm" (submit)="submit()">
            <!-- Category -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select Category</mat-label>
                    <mat-select (selectionChange)="onChangeCategoryValue()" formControlName="category">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let category of eActivityCategories | keyvalue" [value]="category.value">{{category.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('category').hasError('required')">Category is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Subcategory -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select Subcategory</mat-label>
                    <mat-select formControlName="subcategory">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let subcategory of eSubcategory | keyvalue" [value]="subcategory.value">{{subcategory.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('subcategory').hasError('required')">Subcategory is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Name -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" required placeholder="Name"/>
                    <mat-error *ngIf="(rForm.get('name').hasError('minlength') || rForm.get('name').hasError('maxlength')) && !rForm.get('name').hasError('required')">Name must be greater than 3 characters and less than 55 characters</mat-error>
                    <mat-error *ngIf="rForm.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Description -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="description" placeholder="description"/>
                </mat-form-field>
            </section>
            <!-- Language -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select Language</mat-label>
                    <mat-select formControlName="language">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let language of eActivityLenguages | keyvalue" [value]="language.value">{{language.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('language').hasError('required')">Language is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Date -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Date</mat-label>
                    <input matInput type="text" formControlName="date" placeholder="dd/mm/yyyy"/>
                    <mat-error *ngIf="rForm.get('date').hasError('errorFormatDate')">Invalid date</mat-error>
                </mat-form-field>
            </section>
            <!-- Price -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" formControlName="price" placeholder="Price"/>
                    <mat-error *ngIf="rForm.get('price').hasError('errorLessZero') && !rForm.get('price').hasError('required')">Price must be greater than zero</mat-error>
                    <mat-error *ngIf="rForm.get('price').hasError('required')">Price is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Minium Capacity -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Minium Capacity</mat-label>
                    <input matInput type="number" formControlName="miniumCapacity" placeholder="Minium Capacity"/>
                    <mat-error *ngIf="rForm.get('miniumCapacity').hasError('errorLessZero') && !rForm.get('miniumCapacity').hasError('required')">Minium Capacity must be greater than zero</mat-error>
                    <mat-error *ngIf="rForm.get('miniumCapacity').hasError('required')">Minium Capacity is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- Limit Capacity -->
            <section>
                <mat-form-field appearence="fill">
                    <mat-label>Limit Capacity</mat-label>
                    <input matInput type="number" formControlName="limitCapacity" placeholder="Limit Capacity"/>
                    <mat-error *ngIf="rForm.get('limitCapacity').hasError('errorLessZero') && !rForm.get('limitCapacity').hasError('required')">Limit Capacity must be greater than zero</mat-error>
                    <mat-error *ngIf="rForm.get('limitCapacity').hasError('required')">Limit Capacity is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <!-- State -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Select state</mat-label>
                    <mat-select formControlName="state">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let state of eActivityStates | keyvalue" [value]="state.value">{{state.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('state').hasError('required')">State is <strong>required</strong></mat-error>
                </mat-form-field>
            </section>
            <section style="text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">Save</button>
            </section>
        </form>
    </mat-card>
</div>
